body {
    width: 100%;
    height: 100vh;
    margin-bottom: 20%;
    left: 50%;
    background-color: hsl(215, 16%, 70%);
    overflow: hidden;
    text-align: center;
    
}

h1 {
    margin-top: 55px;
    margin-bottom: 55px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color :rgb(33, 77, 144);
}
a {
    display:inline-block;
    text-decoration: none;
    padding : 0.3em 1.2em;
    margin : 0 0.2em 0.3em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    
    
}

a:hover{
     border-color: rgba(255,255,255,1);
    }

    .container {
        display:inline-block;
        background-color: rgb(133, 145, 171);
        padding : 0.3em 1.2em;
        margin : 0 0.2em 0.4em 0;
        border:0.122em solid rgba(255,255,255,0);
        border-radius:1.6em;
        box-sizing: border-box;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight:300;
        
    }
    .text-secondary { color: hsl(220, 60%, 54%); }
    .text-white { color: rgb(80, 105, 196); }
    


@media all and (max-width:30em){
 a{
  display:block;
  margin:0.2em auto;
 }
}